/* Table of Contents  

1. Global Styles
    1.1 CSS Reset 
    1.2 Variables
2. Typography
3. Page Styles 
    3.1 Home Page Styles
    3.2 Quiz Page Styles 
    3.3 End Page Styles 
    3.4 Global Styles 
4. Utilities
    4.1 Buttons 
5. Media Queries 

*/

/*  ================
    1. global styles
    ================ */

/* === 1.1 CSS Reset === */
/* CSS Reset by Andy Bell - See README */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: var(--background);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* === 1.2 Variables  */


/* styling presets saved as root variables */
:root {

    --ff-prim: "Unica One", sans-serif;
    --ff-sec: "Comfortaa", sans-serif;

    --background: rgb(2, 0, 36);
    --background-sec: rgb(40, 75, 99);
    --background-ter: rgb(53, 53, 53);

    --clr-prim: rgb(217, 217, 217);
    --clr-sec: rgb(255, 255, 255);

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-700: 1.75rem;
    --fs-900: 2.5rem;

    --fw-400: 500;
    --fw-700: 700;
    --fw-900: 900;
}

/*  =============
    2. typography 
    ============= */
h1,
h2 {
    font-family: var(--ff-prim);
    color: Var(--clr-prim);
}

/* clamp sets responsive font size (Min value, preferred value, max value */

h1 {
    font-size: clamp(1rem, 1rem + 10vw, 4rem);
}

h2 {
    font-size: clamp(.75rem, 1rem + 10vw, 3rem);
}

p {
    font-family: var(--ff-sec);
    font-size: clamp(.5rem, .5rem + 10vw, 1rem);
    color: var(--clr-sec);
}

#question {
    font-size: 1.5rem;
    font-family: var(--ff-prim);
    color: Var(--clr-prim);

}

/*  =============
    3. Page Styles  
    ============= */

/* === 3.1 Home Page Styles  === */

/* Add linear gradient to background image for contrast */

.home-body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(40, 75, 99, 0.6) 35%, rgba(0, 212, 255, 0.6) 100%), url('../media/bg_scifi_img.webp') no-repeat center center;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
}

.card {
    background-color: rgba(40, 75, 99, 0.75);
    padding: 2rem;
    border-radius: 50px;
}

.home-heading {
    text-align: center;
}

.home-text {
    margin-bottom: 1.5rem;
    text-align: center;
}


/* === 3.2 Quiz Page Styles */

#question {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.choice-num {
    padding: 1.5rem 2rem;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 1.2rem 0;
}

/* score area */
#score-area {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 5rem;
}

.score-area-prefix {
    text-align: center;
    font-size: 1rem;
}

.score-main-text {
    text-align: center;
    font-family: var(--ff-sec);
    color: var(--clr-sec);
    font-size: 1.5rem;
}

/* creates empty progress bar */
#progress-bar {
    width: 10rem;
    height: 1.5rem;
    border: 0.2rem solid rgba(0, 212, 255, 0.6);
    margin-top: 1rem;
    border-radius: 50px;
    overflow: hidden;
}

/* Sets style for filling of progress bar */
#progress-bar-full {
    height: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(40, 75, 99, 1) 35%, rgba(0, 212, 255, 1) 100%);
    ;
    width: 0%;
}

.high-score {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin: 0 auto;
    padding-right: 40px;
}

#high-scores-list {
    font-family: var(--ff-sec);
    color: var(--clr-sec);
    list-style: none;
}


/* === 3.3 End Page Styles */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 30rem;

}

input {
    margin-bottom: 1rem;
    width: 20rem;
    font-family: var(--ff-sec);
    font-size: var(--fs-500);
    text-align: center;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: var(--background);
    font-family: var(--ff-sec);
    font-size: var(--fs-500);
    text-align: center;
}

.end-card {
    background-color: rgba(40, 75, 99, 0.75);
    padding: 2rem;
    border-radius: 50px;
}

.end-card h1 {
    font-size: 2.5rem;
    padding: .75rem;
}

.end-card h2 {
    font-size: 1.5rem;
    padding: .5rem;
}


/* === 3.4 Global Styles === */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* Fits Images to Img Conatiner */
.img-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    max-width: 64rem;
    margin: 0 auto;
}

.img-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Footer */
footer {
    height: fit-content;

}

.socials {
    list-style: none;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 120%;
    margin: 0;
    color: var(--clr-prim);
}

.socials i:hover {
    color: var(--clr-sec);
}


/*  =============
    4. Utilities 
    ============= */

/* === 4.1 Buttons === */
/* button styling without display flex so that it hides properly from JS sript */
/* (Button by Alpine Daily see read me for credit) */
.btn {
    background-color: var(--background-sec);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: var(--clr-sec);
    font-family: var(--ff-sec);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .2rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 1.5rem;
}

.btn:focus {
    outline: 0;
}

.btn:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.btn:hover:after {
    bottom: 2px;
    left: 2px;
}

.start-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem;

}

/* Answer Choice button (Button by Alpine Daily see read me for credit) */
.choice-btn {
    background-color: var(--background-sec);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: var(--clr-sec);
    display: flex;
    font-family: var(--ff-sec);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .2rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.choice-btn:focus {
    outline: 0;
}

.choice-btn:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.choice-btn:hover:after {
    bottom: 2px;
    left: 2px;
}

/* Next button styling */
.ctrl-buttons {
    display: flex;
    justify-content: center;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}


/* Media Query for screens larger that 768px */
@media all and (min-width: 768px) {
    .choice-btn {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    #question {
        font-size: 2rem;
    }

    .img-box {
        height: 50%;
    }

    #score-area {
        display: flex;
        gap: 30em;

    }


}